
.soundbite {
  font-family: inherit;

  width: var(--soundbite-diameter);
  height: var(--soundbite-diameter);

  margin: var(--soundbite-margin);
  border-radius: var(--soundbite-radius);
  // background-color: rgb(120, 199, 237);
  background-color: var(--primary);
}

.soundbite:focus {
  outline: 0;
  box-shadow: 0 0 0 2px blue;
}

.soundbite > span {
  font-family: inherit;
  font-weight: 700;
  word-wrap: break-word;
  display: inline-block;
  max-width: 80%;
}
