.soundbite {
  font-family: inherit;

  color: var(--dark);
  background-color: var(--primary);
}

.soundbite > span {
  font-family: inherit;
  font-weight: 700;
  word-wrap: break-word;
  display: inline-block;
  max-width: 80%;
}
