
.hidden {
  visibility: hidden;
  position: absolute;
}

.fileSelector {
  height: var(--soundbite-diameter);
  width: var(--soundbite-diameter);
  border-radius: var(--soundbite-radius);
  background-color: var(--secondary);
  font-size: 2em;

  text-align: center;
  line-height: var(--soundbite-diameter);
}
