$trim-boundary-width: 0.3rem;
$trim-boundary-height: 1rem;
$trim-border-radius: 0.1rem;

.container {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;

  p {
    display: inline-block;
  }

  .trimBar {
    height: $trim-boundary-width;
    width: 100%;
    position: relative;

    border-radius: $trim-border-radius;
    background-color: var(--tertiary);

    display: flex;
    align-items: center;

    .playbackLocation {
      opacity: 1;
      position: absolute;
      height: $trim-boundary-height;
      width: $trim-boundary-width;
      border-radius: $trim-border-radius;
      background-color: var(--primary);

      transition: opacity 0.25s ease-in-out;
    }

    .trimBoundary {
      height: $trim-boundary-height;
      width: $trim-boundary-width;
      position: absolute;
      border-radius: $trim-boundary-width;
      background-color: var(--secondary);
      cursor: grab;
      display: inline-block;

      // &:first-of-type {
      //   transform: translateY(calc(#{$trim-boundary-width} - #{$trim-boundary-height}));
      // }
      &:first-of-type {
        left: -$trim-boundary-width;
      }
      &:last-of-type {
        right: -$trim-boundary-width;
      }
    }
  }
}