$app-max-width: 1400px;
$soundbite-diameter: 7rem;
// $soundbite-radius: calc(0.4 * #{$soundbite-diameter});
$soundbite-radius: 5rem;
$soundbite-margin: 0.5em;
$mic-icon-diameter: 3rem;

// possible palette (from adjusting brass by 30% lightness and 30% saturation)
$brass: #b5a642;
$hazy-red: #f29ea2;
$hazy-brass: #f2ee9e;
$hazy-cyan: #9ef2ee;
$hazy-blue: #9ea2f2;

:export {
  soundbiteSize: $soundbite-diameter;
  soundbiteRadius: $soundbite-radius;
  micIconDiameter: $mic-icon-diameter;
  hazyRed: $hazy-red;
  hazyBrass: $hazy-brass;
  hazyCyan: $hazy-cyan;
  hazyBlue: $hazy-blue;
}
