@import './theme';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');

body {
  font-family: 'Poppins', 'Roboto Mono', 'Fira Mono', 'Arial', monospace;

  margin: 0;
  padding: 0;

  overflow: hidden;
}

:global(.centeredRow) {
  display: flex;
  justify-content: center;
}

:global(.centeredCol) {
  display: flex;
  flex-direction: column;
  align-items: center;
}

:global(.effectToggle) {
  outline: 0;
  border: 0;
  min-height: 24px; /* allow icon to be vertically centered */
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;

  &::before {
    content: 'power_settings_new';
    position: relative;
    top: 20%;
    font-weight: 500;
  }

  &:checked::before {
    content: 'power_settings_new';
    color: var(--tertiary);
    filter: drop-shadow(0 0 3px var(--tertiary));
  }
}

:global(.effectToggle),
:global(.effectToggle) + label {
  cursor: pointer;
}

:global(.labelledIcon) {
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  margin: 0;
  font-weight: 700;
  text-transform: uppercase;
}

.container {
  color: var(--text);

  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
}

.content {
  margin: 0 1rem;
  height: 100vh;
  max-height: 100vh;
  max-width: var(--app-max-width);
  width: 100%;
  display: flex;

  > div {
    flex: 1 1;
    overflow-y: scroll;
  }

  > div:not(:first-child) {
    margin-left: 1rem;
  }
}

.soundboard {
  display: grid;

  grid-template-rows: repeat(
    auto-fill,
    var(--soundbite-diameter)
  );

  grid-template-columns: repeat(
    auto-fill,
    minmax(
      0,
      var(--soundbite-diameter)
    )
  );

  justify-items: center;
  align-items: center;
  margin-top: 1rem;
  grid-gap: 1rem;
  width: 100%;

  // > div:last-child, // TODO: re-enable when soundbite editor is back
  > canvas:first-child {
    grid-column: 1 / -1;
  }
}

.soundboard:focus {
  outline: 0;
}

.configRows {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  > .expandableRow {
    flex-shrink: 10;
  }

  > .expanded {
    flex-grow: 1;
  }
}

.configRows > hr {
  width: 95%;
  height: 0;
  border: 0;
  outline: 1px solid #ccc;
}

.configRow {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 20rem;
  column-gap: 1rem;
  margin-top: 1rem;
}
