:root {
  // ionic-style: https://ionicframework.com/docs/theming/basics
  --primary: #00e1af;
  --secondary: green;
  --tertiary: blue;
  --warning: yellow;
  --danger: darkred;
  --dark: #353739;
  --medium: #eee;
  --light: white;
  
  // --background: #353739;
  // --text: white;
  --background: white;
  --text: black;
}
