:root {
  // ionic style (sort of): https://ionicframework.com/docs/theming/basics
  --primary: #f2ee9e;
  --secondary: #f29ea2;
  --tertiary: #9ea2f2;
  --quaternary: #9ef2ee;

  --dark: #353739;
  --medium: #eee;
  --light: white;
  
  // --background: #353739;
  // --text: white;
  --background: white;
  --text: black;

  --app-max-width: 1400px;
  --soundbite-diameter: 7rem;
  --soundbite-radius: 5rem;
  --soundbite-margin: 0.5em;
  --mic-icon-diameter: 3rem;
}
