
.outer,
.middle,
.inner {
  border-radius: var(--soundbite-radius);
  display: flex;
  justify-content: center;
  align-items: center;
}

.outer {
  user-select: none;
  width: var(--soundbite-diameter);
  height: var(--soundbite-diameter);
  background-color: var(--medium);
}

.middle {
  background-color: var(--secondary);
}

.inner {
  background-color: var(--dark);
  color: var(--light);
  border: 1px solid var(--secondary);
  width: var(--mic-icon-diameter);
  height: var(--mic-icon-diameter);
  font-size: 1.5em;
}
